{erl_opts, [debug_info]}.
{deps, []}.

{profiles, [
  {test, [
    {eunit_compile_opts, [{src_dirs, ["src", "test"]}]}
    %% {deps, [
    %%   %% FIXME: Something's gone terribly awry here...
    %%   {ltest, {git, "git://github.com/lfex/ltest.git", {tag, "0.9.0"}}}
    %% ]}
  ]}
]}.

{plugins, [
  {'lfe-compile',
   {git, "git://github.com/lfe-rebar3/compile", {ref, "195bfe6"}}}
]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.
